@model ITAssetKeeper.Models.ViewModels.Dashboard.DashboardAdminViewModel

@{
    ViewData["Title"] = "ダッシュボード";
}

@* ダッシュボードタイトルバー *@
<div class="dashboard-header-bar mb-4">
    ダッシュボード
</div>

<div class="container mt-4">
     @* 1行目：1列（テーブル入りカード）*@
    <div class="row mb-4">
        <div class="col-12">
            <div class="card dashboard-card">

                @* カードヘッダー*@
                <div class="card-header dashboard-card-header">
                    最近追加された機器一覧(5件)
                </div>

                @* カードボディー*@
                <div class="card-body">
                    <div class="table-responsive table-wrapper">
                        <table class="table table-hover table-bordered nowrap-table">
                            <thead class="table-light">
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.RecentlyHeader.CreatedAt)</th>
                                    <th>@Html.DisplayNameFor(model => model.RecentlyHeader.ManagementId)</th>
                                    <th>@Html.DisplayNameFor(model => model.RecentlyHeader.Category)</th>
                                    <th>@Html.DisplayNameFor(model => model.RecentlyHeader.ModelNumber)</th>
                                    <th>@Html.DisplayNameFor(model => model.RecentlyHeader.HostName)</th>
                                    <th>@Html.DisplayNameFor(model => model.RecentlyHeader.Location)</th>
                                    <th>@Html.DisplayNameFor(model => model.RecentlyHeader.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.RecentlyHeader.Status)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.RecentlyAddedDevices?.Any() != true)
                                {
                                    <tr><td colspan="8" class="text-muted">データがありません</td></tr>
                                }
                                @foreach (var item in Model.RecentlyAddedDevices)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ManagementId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Category)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ModelNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HostName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

     @* 2行目：2列（グラフ入りカード）*@
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card h-100 dashboard-card">
                <div class="card-header dashboard-card-header">
                    過去7日間の更新履歴件数
                </div>

                <div class="card-body">
                     @* 描画した棒グラフを表示*@
                     @* Listの中身が空じゃなければグラフを描画する*@
                    @if (Model.HistoryLast7Days?.Any() == true)
                    {
                        <canvas id="historyCountChart"
                            width="400"
                            height="400"
                            data-history ='@Html.Raw(Json.Serialize(Model.HistoryLast7Days))'>
                        </canvas>
                    }
                    else
                    {
                        <p class="text-muted">データがありません</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 dashboard-card">
                <div class="card-header dashboard-card-header">
                    状態別の台数集計
                </div>
                <div class="card-body">
                     @* 描画したドーナツ型グラフを表示*@
                     @* Listの中身が空ではない&いずれかに1以上あればグラフを描画する*@
                    @{
                        var total = Model.StatusCount.ActiveCount
                                  + Model.StatusCount.SpareCount
                                  + Model.StatusCount.ActiveCount
                                  + Model.StatusCount.RetiringCount
                                  + Model.StatusCount.RetiredCount;
                    }

                    @if (Model.StatusCount != null && total > 0)
                    {
                        <canvas id="statusChart"
                            width="400"
                            height="400"
                            data-labels='[
                                "@Html.DisplayNameFor(model => model.StatusHeader.ActiveCount)",
                                "@Html.DisplayNameFor(model => model.StatusHeader.SpareCount)",
                                "@Html.DisplayNameFor(model => model.StatusHeader.BrokenCount)",
                                "@Html.DisplayNameFor(model => model.StatusHeader.RetiringCount)",
                                "@Html.DisplayNameFor(model => model.StatusHeader.RetiredCount)"
                            ]'
                            data-values='[
                                @Model.StatusCount.ActiveCount,
                                @Model.StatusCount.SpareCount,
                                @Model.StatusCount.BrokenCount,
                                @Model.StatusCount.RetiringCount,
                                @Model.StatusCount.RetiredCount
                            ]'>
                        </canvas>
                    }
                    else
                    {
                        <p class="text-muted">データがありません</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@* JS *@
@section Scripts {
    <script src="~/js/dashboard/chart-admin.js"></script>
}

@* CSS *@
@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
}
