@model ITAssetKeeper.Models.ViewModels.DeviceHistory.DeviceHistoryDto

@* 履歴情報確認用モーダル *@

<div class="row mb-2">
    <div class="col-3 fw-bold">@Html.DisplayNameFor(m => m.HistoryId)</div>
    <div class="col-9">@Model.HistoryId</div>
</div>

<div class="row mb-2">
    <div class="col-3 fw-bold">@Html.DisplayNameFor(m => m.ManagementId)</div>
    <div class="col-9">@Model.ManagementId</div>
</div>

<div class="row mb-2">
    <div class="col-3 fw-bold">@Html.DisplayNameFor(m => m.ChangeField)</div>
    <div class="col-9">@Model.ChangeField</div>
</div>

<div class="row mb-2">
    <div class="col-3 fw-bold">@Html.DisplayNameFor(m => m.BeforeValue)</div>
    <div class="col-9 white-space-pre-wrap">@Model.BeforeValue</div>
</div>

<div class="row mb-2">
    <div class="col-3 fw-bold">@Html.DisplayNameFor(m => m.AfterValue)</div>
    <div class="col-9 white-space-pre-wrap">@Model.AfterValue</div>
</div>

<div class="row mb-2">
    <div class="col-3 fw-bold">@Html.DisplayNameFor(m => m.UpdatedBy)</div>
    <div class="col-9">@Model.UpdatedBy</div>
</div>

<div class="row mb-2">
    <div class="col-3 fw-bold">@Html.DisplayNameFor(m => m.UpdatedAt)</div>
    <div class="col-9">@Model.UpdatedAtText</div>
</div>