@model ITAssetKeeper.Models.ViewModels.DeviceHistory.DeviceHistoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>更新履歴 一覧</h1>

@* メッセージ表示 *@
@if (TempData["ToastMessage"] != null)
{
    <div id="toast-message"
         data-message="@TempData["ToastMessage"]"
         data-type="success"></div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning mt-3">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["FailureMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["FailureMessage"]
    </div>
}

@* 検索フォーム *@
<div class="row">
    <div class="col-md-4">
        <form id="searchForm" asp-controller="DeviceHistory" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* 履歴ID(HistoryId) *@
            <div class="form-group">
                <label asp-for="HistoryId" class="control-label"></label>
                <input asp-for="HistoryId" class="form-control" />
            </div>

            @* 機器管理ID(ManagementId) *@
            <div class="form-group">
                <label asp-for="ManagementId" class="control-label"></label>
                <input asp-for="ManagementId" class="form-control" />
            </div>

            @* 更新項目(ChangeField) *@
            <div class="form-group">
                <label asp-for="ChangeFieldItems" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedChangeField, Model.ChangeFieldItems, "全て", new { @class = "form-control" })
            </div>

            @* 更新前の値(BeforeValue) *@
            <div class="form-group">
                <label asp-for="BeforeValue" class="control-label"></label>
                <input asp-for="BeforeValue" class="form-control" />
            </div>

            @* 更新後の値(AfterValue) *@
            <div class="form-group">
                <label asp-for="AfterValue" class="control-label"></label>
                <input asp-for="AfterValue" class="form-control" />
            </div>

            @* 更新者(UpdatedBy) *@
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
            </div>

            @* 更新日:開始(UpdatedDateFrom) *@
            <div class="form-group">
                <label asp-for="UpdatedDateFrom" class="control-label"></label>
                <input asp-for="UpdatedDateFrom" class="form-control" type="date" />
            </div>

            @* 更新日:終了(UpdatedDateTo) *@
            <div class="form-group">
                <label asp-for="UpdatedDateTo" class="control-label"></label>
                <input asp-for="UpdatedDateTo" class="form-control" type="date" />
            </div>

            @* ソートの選択項目(Hidden で送る) *@
            <input type="hidden" id="SortKeyValueHidden" name="SortKeyValue" value="@Model.SortKeyValue" />
            <input type="hidden" id="SortOrderValueHidden" name="SortOrderValue" value="@Model.SortOrderValue" />

            @* フォーム内容送信 *@
            <div class="form-group">
                <input type="submit" value="検索" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@* 並び替え選択 *@
<form id="sortForm" data-ajax-url="@Url.Action("GetSortedList","DeviceHistory")">
    <div id="sortArea">

        @* ソート基準 *@
        <div class="form-group">
            <label asp-for="SortKeyList" class="control-label"></label>
            @Html.DropDownListFor(model => model.SortKeyValue, Model.SortKeyList,
            new { @class = "form-control", id = "SortKeyValue" })
        </div>

        @* 昇順 or 降順 *@
        <div class="form-group">
            <label asp-for="SortOrderList" class="control-label"></label>
            @Html.DropDownListFor(model => model.SortOrderValue, Model.SortOrderList,
                        new { @class = "form-control", id = "SortOrderValue" })
        </div>
    </div>
</form>

@* テーブル表示 *@
<div id="tableArea">
    @await Html.PartialAsync("_DeviceHistoryListPartial", Model)
</div>


@* jsファイルを読み込む *@
@section Scripts {
    <script src="~/js/index.js"></script>
}
