@model ITAssetKeeper.Models.ViewModels.DeviceHistory.DeviceHistoryViewModel

@{
    ViewData["Title"] = "更新履歴 一覧";
}

@* タイトルバー *@
<div class="contents-header-bar mb-4">
    更新履歴 一覧
</div>

@* メッセージ表示 *@
@if (TempData["ToastMessage"] != null)
{
    <div id="toast-message"
         data-message="@TempData["ToastMessage"]"
         data-type="success"></div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning mt-3">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["FailureMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["FailureMessage"]
    </div>
}

@* 検索フォーム *@
<div class="row">
    <div class="col-md-12">
        <form id="searchFormSimple" asp-controller="DeviceHistory" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* フリーワード検索 *@
            <div class="form-group">
                <div class="freeword-box mb-3">
                    <div class="freeword-row">

                        @* ラベル *@
                        <label class="freeword-label">フリーワード：</label>

                        @* 入力欄 *@
                        <div class="freeword-input-wrapper">
                            @* 検索ボックス *@
                            <input asp-for="FreeText" class="freeword-input" placeholder="検索する文字を入力" />

                            @* ×クリアボタン *@
                            <button type="button" class="freeword-clear">×</button>
                        </div>

                        @* 検索ボタン：フォーム内容送信 *@
                        <button type="submit" class="freeword-search-btn">検索</button>
                    </div>
                </div>
            </div>

            @* ソートの選択項目(Hidden で送る) *@
            <input type="hidden" id="SortKeyValueHidden" name="SortKeyValue" value="@Model.SortKeyValue" />
            <input type="hidden" id="SortOrderValueHidden" name="SortOrderValue" value="@Model.SortOrderValue" />

            @* ソート時に確定済の条件でソートされるようhiddenに取得しておく *@
            <input type="hidden" id="confirmed_FreeText" name="FreeText" value="@Model.FreeText" />

            @* フリーワード検索されたことをhiddenで渡す *@
            <input type="hidden" name="activeSearchType" value="simple" />
        </form>
    </div>
</div>

@* 詳細検索フォーム 折り畳みボタン *@
<div class="search-detail-toggle-box"
     id="toggleSearchBtn"
     data-bs-toggle="collapse"
     data-is-search="@Model.IsSearchExecuted.ToString().ToLower()"
     data-has-filter="@Model.HasAnyFilter.ToString().ToLower()"
     data-bs-target="#searchCollapse">
    <img src="~/img/arrow_down.png" class="search-detail-toggle-icon" />
    <span class="search-detail-toggle-text">詳細検索</span>
</div>

@* 詳細検索フォーム (開いている時)*@
<div class="collapse @(Model.HasAnyFilter ? "show" : "")" id="searchCollapse">

    <div class="search-detail-box mt-0">

        @* 入力内容クリアボタン *@
        <div class="search-detail-clear-form-area">
            <button type="button" class="search-detail-clear-form-btn">
                入力内容をクリア
            </button>
        </div>

        @* 詳細検索フォーム *@
        <form id="searchFormDetail" asp-controller="DeviceHistory" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* 1行目：3列*@
            <div class="search-detail-grid grid-3col">
                @* 履歴ID(HistoryId) *@
                <div class="form-group">
                    <label asp-for="HistoryId" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="HistoryId" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* 機器管理ID(ManagementId) *@
                <div class="form-group">
                    <label asp-for="ManagementId" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="ManagementId" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* 更新項目(ChangeField) *@
                <div class="form-group">
                    <label asp-for="ChangeFieldItems" class="custom-label"></label>
                    @Html.DropDownListFor(model => model.SelectedChangeField, Model.ChangeFieldItems, "-- 全て --", new { @class = "custom-dropdown" })
                </div>
            </div>

            @* 2行目：3列*@
            <div class="search-detail-grid grid-3col">
                @* 更新者(UpdatedBy) *@
                <div class="form-group">
                    <label asp-for="UpdatedBy" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="UpdatedBy" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* 更新前の値(BeforeValue) *@
                <div class="form-group">
                    <label asp-for="BeforeValue" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="BeforeValue" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* 更新後の値(AfterValue) *@
                <div class="form-group">
                    <label asp-for="AfterValue" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="AfterValue" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>
            </div>

            @* 3行目：1列*@
            <div class="search-detail-grid grid-1col">
                @* 更新日(UpdatedAt) *@
                <div class="form-group date-range-row">
                    <label asp-for="UpdatedAt" class="custom-label"></label>
                    <div class="date-range">
                        <input asp-for="UpdatedDateFrom" type="date" class="search-detail-input" />
                        <span class="date-range-separator">〜</span>
                        <input asp-for="UpdatedDateTo" type="date" class="search-detail-input" />
                    </div>
                </div>
            </div>

            @* 詳細検索されたことをhiddenで渡す *@
            <input type="hidden" name="activeSearchType" value="detail" />

            @* 詳細検索ボタン(フォーム内容送信) *@
            <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
                <button type="submit" class="search-detail-submit-btn">詳細検索</button>
            </div>

            @* ソートの選択項目(Hidden で送る) *@
            <input type="hidden" id="SortKeyValueHidden" name="SortKeyValue" value="@Model.SortKeyValue" />
            <input type="hidden" id="SortOrderValueHidden" name="SortOrderValue" value="@Model.SortOrderValue" />

            @* ソート時に確定済の条件でソートされるようhiddenに取得しておく *@
            <input type="hidden" id="confirmed_HistoryId" name="HistoryId" value="@Model.HistoryId" />
            <input type="hidden" id="confirmed_ManagementId" name="ManagementId" value="@Model.ManagementId" />
            <input type="hidden" id="confirmed_SelectedChangeField" name="SelectedChangeField" value="@Model.SelectedChangeField" />
            <input type="hidden" id="confirmed_BeforeValue" name="BeforeValue" value="@Model.BeforeValue" />
            <input type="hidden" id="confirmed_AfterValue" name="AfterValue" value="@Model.AfterValue" />
            <input type="hidden" id="confirmed_UpdatedBy" name="UpdatedBy" value="@Model.UpdatedBy" />
            <input type="hidden" id="confirmed_UpdatedDateFrom" name="UpdatedDateFrom" value="@Model.UpdatedDateFrom" />
            <input type="hidden" id="confirmed_UpdatedDateTo" name="UpdatedDateTo" value="@Model.UpdatedDateTo" />

        </form>
    </div>
</div>



@* 並び替え選択 *@
<form id="sortForm" data-ajax-url="@Url.Action("GetSortedList","DeviceHistory")">
    <div class="sort-area-wrapper">

        @* ソート基準 *@
        <div class="sort-box">
            <label asp-for="SortKeyList" class="sort-label"></label>
            <span class="sort-separator">：</span>
            @Html.DropDownListFor(model => model.SortKeyValue, Model.SortKeyList,
            new { @class = "form-control custom-dropdown", id = "SortKeyValue" })
        </div>

        @* 昇順 or 降順 *@
        <div class="sort-box">
            <label asp-for="SortOrderList" class="sort-label"></label>
            <span class="sort-separator">：</span>
            @Html.DropDownListFor(model => model.SortOrderValue, Model.SortOrderList,
                        new { @class = "form-control custom-dropdown", id = "SortOrderValue" })
        </div>
    </div>
</form>

@* テーブル表示 *@
<div id="tableArea">
    @await Html.PartialAsync("_DeviceHistoryListPartial", Model)
</div>


@* モーダル：履歴情報表示用 *@
<div class="modal fade" id="historyDetailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-width">
        <div class="modal-content">

            @* モーダルヘッダー *@
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center gap-2">
                    <img src="~/img/info.png" alt="infomation" class="modal-icon" />
                    履歴情報
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            @* モーダルbody *@
            <div class="modal-body" id="historyDetailContainer">
                @* ここに部分ビュー(_DeviceHistoryDetailPartial)を差し込む *@
            </div>

            @* モーダルフッター *@
            <div class="modal-footer">
                <button type="button" class="modal-close-btn" data-bs-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>


@* JS *@
@section Scripts {
    <script src="~/js/common/list-common.js"></script>
    <script src="~/js/history/history-detail-modal.js"></script>
    <script src="~/js/common/formclear.js"></script>
    <script src="~/js/common/dropdown-toggle.js"></script>
}

@* CSS *@
@section Styles {
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
}
