@model ITAssetKeeper.Models.ViewModels.Device.DeviceListViewModel

<!-- テーブル表示 -->
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.ManagementId)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.Category)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.Purpose)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.ModelNumber)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.SerialNumber)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.HostName)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.Location)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.Status)</th>
            <th>@Html.DisplayNameFor(model => model.DeviceDtoHeader.PurchaseDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Devices)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ManagementId)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.Purpose)</td>
                <td>@Html.DisplayFor(modelItem => item.ModelNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.HostName)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.PurchaseDate)</td>
            </tr>
        }
    </tbody>
</table>

<!-- ページング表示 -->
<nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination">

        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link paging-link" data-page="1">« 最初</a>
            </li>
            <li class="page-item">
                <a class="page-link paging-link" data-page="@(Model.PageNumber - 1)">‹ 前へ</a>
            </li>
        }

        @foreach (var num in Model.PageRange)
        {
            <li class="page-item @(num == Model.PageNumber ? "active" : "")">
                <a class="page-link paging-link" data-page="@num">@num</a>
            </li>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link paging-link" data-page="@(Model.PageNumber + 1)">次へ ›</a>
            </li>
            <li class="page-item">
                <a class="page-link paging-link" data-page="@Model.TotalPages">最後 »</a>
            </li>
        }

    </ul>
</nav>