@model ITAssetKeeper.Models.ViewModels.Device.DeviceEditViewModel

@{
    ViewData["Title"] = "機器情報 編集";
}

@* タイトルバー *@
<div class="contents-header-bar mb-4">
    機器情報 編集
</div>

@* メッセージ表示 *@
@if (TempData["ToastMessage"] != null)
{
    <div id="toast-message"
         data-message="@TempData["ToastMessage"]"
         data-type="success"></div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning mt-3">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["FailureMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["FailureMessage"]
    </div>
}

@* キャンセルボタン *@
<div class="form-cancel-area">
    <a asp-controller="Device" asp-action="Details" asp-route-id="@Model.IdHidden" class="form-cancel-btn">キャンセル</a>
</div>

@* 機器情報編集フォーム *@
<div class="form-box">
    <form id="EditForm" asp-controller="Device" asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* 1行目：1列 *@
        <div class="form-grid grid-1col">
            @* ManagementId(機器管理ID)は更新不可 *@
            @* Readonly に設定し、POSTされるようにする *@
            <div class="form-group">
                <label asp-for="ManagementId" class="custom-label"></label>
                @Html.TextBoxFor(m => m.ManagementId,
                            new { @class = "custom-input edit-managemendId", @readonly = "readonly" })
            </div>
        </div>

        @* 2行目：3列 *@
        <div class="form-grid grid-3col">
            @* Category(種別) *@
            <div class="form-group">
                <label asp-for="CategoryItems" class="custom-label"></label>
                @Html.DropDownListFor(m => m.SelectedCategory, Model.CategoryItems,"-- 未選択 --",
                                new { @class = "custom-dropdown disable-target", data_disable = Model.IsReadOnlyCategory })
                <span asp-validation-for="SelectedCategory" class="text-danger"></span>
            </div>

            @* Purpose(用途) *@
            <div class="form-group">
                <label asp-for="PurposeItems" class="custom-label"></label>
                @Html.DropDownListFor(m => m.SelectedPurpose, Model.PurposeItems,"-- 未選択 --",
                                new { @class = "custom-dropdown disable-target", data_disable = Model.IsReadOnlyPurpose })
                <span asp-validation-for="SelectedPurpose" class="text-danger"></span>
            </div>

            @* HostName(ホスト名) *@
            <div class="form-group">
                <label asp-for="HostName" class="custom-label"></label>
                <div class="custom-input-wrapper">
                    @Html.TextBoxFor(m => m.HostName,
                                        new { @class = "custom-input disable-target", data_disable = Model.IsReadOnlyHostName })
                </div>
            </div>
        </div>

        @* 3行目：3列 *@
        <div class="form-grid grid-3col">
            @* Location(設置場所) *@
            <div class="form-group">
                <label asp-for="Location" class="custom-label"></label>
                <div class="custom-input-wrapper">
                    @Html.TextBoxFor(m => m.Location,
                                        new { @class = "custom-input disable-target", data_disable = Model.IsReadOnlyLocation })
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>

            @* ModelNumber(型番) *@
            <div class="form-group">
                <label asp-for="ModelNumber" class="custom-label"></label>
                <div class="custom-input-wrapper">
                    @Html.TextBoxFor(m => m.ModelNumber,
                                        new { @class = "custom-input disable-target", data_disable = Model.IsReadOnlyModelNumber })
                </div>
                <span asp-validation-for="ModelNumber" class="text-danger"></span>
            </div>

            @* SerialNumber(製造番号) *@
            <div class="form-group">
                <label asp-for="SerialNumber" class="custom-label"></label>
                <div class="custom-input-wrapper">
                    @Html.TextBoxFor(m => m.SerialNumber,
                                        new { @class = "custom-input disable-target", data_disable = Model.IsReadOnlySerialNumber })
                </div>
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
        </div>

        @* 4行目：3列 *@
        <div class="form-grid grid-3col">
            @* UserName(使用者) *@
            <div class="form-group">
                <label asp-for="UserName" class="custom-label"></label>
                <div class="custom-input-wrapper">
                    @Html.TextBoxFor(m => m.UserName,
                                        new { @class = "custom-input disable-target", data_disable = Model.IsReadOnlyUserName })
                </div>
            </div>

            @* PurchaseDate(購入日) *@
            <div class="form-group">
                <label asp-for="PurchaseDate" class="custom-label"></label>
                <div class="custom-input-wrapper">
                    @Html.TextBoxFor(m => m.PurchaseDate,
                                        "{0:yyyy-MM-dd}",
                                        new { @class = "custom-input disable-target", type = "date", data_disable = Model.IsReadOnlyPurchaseDate })
                </div>
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>

            @* Status(状態) *@
            <div class="form-group">
                <label asp-for="StatusItems" class="custom-label"></label>
                @Html.DropDownListFor(m => m.SelectedStatus, Model.StatusItems,"-- 未選択 --",
                                new { @class = "custom-dropdown disable-target", data_disable = Model.IsReadOnlyStatus })
                <span asp-validation-for="SelectedStatus" class="text-danger"></span>
            </div>
        </div>

        @* 5行目：1列 *@
        <div class="form-grid grid-1col">
            @* Memo(メモ欄) *@
            <div class="form-group">
                <label asp-for="Memo" class="custom-label"></label>
                @Html.TextAreaFor(m => m.Memo,
                                new { @class = "custom-textarea disable-target", data_disable = Model.IsReadOnlyMemo })
            </div>
        </div>

        @* 更新ボタン：フォーム送信 *@
        <div class="form-submit-area">
            @* hiddenで対象IDを渡す *@
            <input type="hidden" asp-for="IdHidden" />
            <input type="submit" value="更新" class="form-submit-btn" />
        </div>
    </form>
</div>

@* JS *@
@section Scripts {
    <script src="~/js/device/device-edit-permissions.js"></script>
    <script src="~/js/common/dropdown-toggle.js"></script>
}

@* CSS *@
@section Styles {
    <link rel="stylesheet" href="~/css/device.css" asp-append-version="true" />
}