@using ITAssetKeeper.Models.Enums
@model ITAssetKeeper.Models.ViewModels.Device.DeviceListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>機器情報一覧</h1>

<!-- 検索フォーム -->
<div class="row">
    <div class="col-md-4">
        <form id="searchForm" asp-controller="Device" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ManagementId" class="control-label"></label>
                <input asp-for="ManagementId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedCategory, Model.Category, "全て", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedPurpose, Model.Purpose, "全て", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="ModelNumber" class="control-label"></label>
                <input asp-for="ModelNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HostName" class="control-label"></label>
                <input asp-for="HostName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedStatus, Model.Status, "全て", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDateFrom" class="control-label"></label>
                <input asp-for="PurchaseDateFrom" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDateTo" class="control-label"></label>
                <input asp-for="PurchaseDateTo" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <input type="submit" value="検索" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- エラーメッセージがあればここに表示 -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<!-- 並び替え選択 -->
<div id="sortArea">
    <div class="form-group">
        <label asp-for="SortKeyList" class="control-label"></label>
        @Html.DropDownListFor(model => model.SortKeyValue, Model.SortKeyList,
            new { @class = "form-control", id = "SortKeyValue" })
    </div>

    <div class="form-group">
        <label asp-for="SortOrderList" class="control-label"></label>
        @Html.DropDownListFor(model => model.SortOrderValue, Model.SortOrderList,
            new { @class = "form-control", id = "SortOrderValue" })
    </div>
</div>

<!-- テーブル表示 -->
<div id="deviceTableArea">
    @await Html.PartialAsync("_DeviceListPartial", Model)
</div>

@section Scripts {
<!-- jsファイルを読み込む -->
<script src="~/js/device-index.js"></script>
}