@model ITAssetKeeper.Models.ViewModels.Device.DeviceListViewModel

@{
    ViewData["Title"] = "機器情報 一覧";
}

@* タイトルバー *@
<div class="contents-header-bar mb-4">
    機器情報 一覧
</div>

@* メッセージ表示 *@
@if (TempData["ToastMessage"] != null)
{
    <div id="toast-message"
         data-message="@TempData["ToastMessage"]"
         data-type="success"></div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning mt-3">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["FailureMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["FailureMessage"]
    </div>
}

@* 検索フォーム *@
<div class="row">
    <div class="col-md-12">
        <form id="searchFormSimple" asp-controller="Device" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* フリーワード検索 *@
            <div class="form-group">
                <div class="freeword-box mb-3">
                    <div class="freeword-row">

                        @* ラベル *@
                        <label class="freeword-label">フリーワード：</label>

                        @* 入力欄 *@
                        <div class="freeword-input-wrapper">
                            @* 検索ボックス *@
                            <input asp-for="FreeText" class="freeword-input" placeholder="検索する文字を入力" />

                            @* ×クリアボタン *@
                            <button type="button" class="freeword-clear">×</button>
                        </div>

                        @* 検索ボタン：フォーム内容送信 *@
                        <button type="submit" class="freeword-search-btn">検索</button>
                    </div>
                </div>
            </div>

            @* ソートの選択項目(Hidden で送る) *@
            <input type="hidden" id="SortKeyValueHidden" name="SortKeyValue" value="@Model.SortKeyValue" />
            <input type="hidden" id="SortOrderValueHidden" name="SortOrderValue" value="@Model.SortOrderValue" />

            @* ソート時に確定済の条件でソートされるようhiddenに取得しておく *@
            <input type="hidden" id="confirmed_FreeText" name="FreeText" value="@Model.FreeText" />

            @* フリーワード検索されたことをhiddenで渡す *@
            <input type="hidden" name="activeSearchType" value="simple" />
        </form>
    </div>
</div>

@* 詳細検索フォーム 折り畳みボタン *@
<div class="search-detail-toggle-box"
     id="toggleSearchBtn"
     data-bs-toggle="collapse"
     data-is-search="@Model.IsSearchExecuted.ToString().ToLower()"
     data-has-filter="@Model.HasAnyFilter.ToString().ToLower()"
     data-bs-target="#searchCollapse">
    <img src="~/img/arrow_down.png" class="search-detail-toggle-icon" />
    <span class="search-detail-toggle-text">詳細検索</span>
</div>

@* 詳細検索フォーム (開いている時)*@
<div class="collapse @(Model.HasAnyFilter ? "show" : "")" id="searchCollapse">

    <div class="search-detail-box mt-0">

        @* 入力内容クリアボタン *@
        <div class="search-detail-clear-form-area">
            <button type="button" class="search-detail-clear-form-btn">
                入力内容をクリア
            </button>
        </div>

        @* 詳細検索フォーム *@
        <form id="searchFormDetail" asp-controller="Device" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* 1行目：3列*@
            <div class="search-detail-grid grid-3col">
                @* 機器管理ID(ManagementId) *@
                <div class="form-group">
                    <label asp-for="ManagementId" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="ManagementId" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* 種別(Category) *@
                <div class="form-group">
                    <label asp-for="CategoryItems" class="custom-label"></label>
                    @Html.DropDownListFor(model => model.SelectedCategory, Model.CategoryItems, "-- 全て --", new { @class = "custom-dropdown" })
                </div>

                @* 用途(Purpose) *@
                <div class="form-group">
                    <label asp-for="PurposeItems" class="custom-label"></label>
                    @Html.DropDownListFor(model => model.SelectedPurpose, Model.PurposeItems, "-- 全て --", new { @class = "custom-dropdown" })
                </div>
            </div>

            @* 2行目：3列*@
            <div class="search-detail-grid grid-3col">
                @* 型番(ModelNumber) *@
                <div class="form-group">
                    <label asp-for="ModelNumber" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="ModelNumber" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* 製造番号(SerialNumber) *@
                <div class="form-group">
                    <label asp-for="SerialNumber" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="SerialNumber" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* ホスト名(HostName) *@
                <div class="form-group">
                    <label asp-for="HostName" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="HostName" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>
            </div>

            @* 3行目：3列*@
            <div class="search-detail-grid grid-3col">
                @* 設置場所(Location) *@
                <div class="form-group">
                    <label asp-for="Location" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="Location" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* 使用者(UserName) *@
                <div class="form-group">
                    <label asp-for="UserName" class="custom-label"></label>
                    <div class="search-detail-input-wrapper">
                        <input asp-for="UserName" class="search-detail-input" />
                        <button type="button" class="custom-clear-btn">×</button>
                    </div>
                </div>

                @* 状態(Status) *@
                <div class="form-group">
                    <label asp-for="StatusItems" class="custom-label"></label>
                    @Html.DropDownListFor(model => model.SelectedStatus, Model.StatusItems, "-- 全て --", new { @class = "custom-dropdown" })
                </div>

            </div>

            @* 4行目：1列*@
            <div class="search-detail-grid grid-1col">
                @* 購入日(PurchaseDate) *@
                <div class="form-group date-range-row">
                    <label asp-for="PurchaseDate" class="custom-label"></label>
                    <div class="date-range">
                        <input asp-for="PurchaseDateFrom" type="date" class="search-detail-input" />
                        <span class="date-range-separator">〜</span>
                        <input asp-for="PurchaseDateTo" type="date" class="search-detail-input" />
                    </div>
                </div>
            </div>

            @* 5行目：1列*@
            <div class="search-detail-grid grid-1col">
                @* 登録日(CreatedAt) *@
                <div class="form-group date-range-row">
                    <label asp-for="CreatedAt" class="custom-label"></label>
                    <div class="date-range">
                        <input asp-for="CreatedDateFrom" type="date" class="search-detail-input" />
                        <span class="date-range-separator">〜</span>
                        <input asp-for="CreatedDateTo" type="date" class="search-detail-input" />
                    </div>
                </div>
            </div>

            @* 6行目：1列*@
            <div class="search-detail-grid grid-1col">
                @* 更新日 *@
                <div class="form-group">
                    <label asp-for="UpdatedAt" class="custom-label"></label>
                    <div class="date-range">
                        <input asp-for="UpdatedDateFrom" type="date" class="search-detail-input" />
                        <span class="date-range-separator">〜</span>
                        <input asp-for="UpdatedDateTo" type="date" class="search-detail-input" />
                    </div>
                </div>
            </div>

            @* 詳細検索されたことをhiddenで渡す *@
            <input type="hidden" name="activeSearchType" value="detail" />

            @* 詳細検索ボタン(フォーム内容送信) *@
            <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
                <button type="submit" class="search-detail-submit-btn">詳細検索</button>
            </div>

            @* ソートの選択項目(Hidden で送る) *@
            <input type="hidden" id="SortKeyValueHidden" name="SortKeyValue" value="@Model.SortKeyValue" />
            <input type="hidden" id="SortOrderValueHidden" name="SortOrderValue" value="@Model.SortOrderValue" />

            @* ソート時に確定済の条件でソートされるようhiddenに取得しておく *@
            <input type="hidden" id="confirmed_ManagementId" name="ManagementId" value="@Model.ManagementId" />
            <input type="hidden" id="confirmed_SelectedCategory" name="SelectedCategory" value="@Model.SelectedCategory" />
            <input type="hidden" id="confirmed_SelectedPurpose" name="SelectedPurpose" value="@Model.SelectedPurpose" />
            <input type="hidden" id="confirmed_ModelNumber" name="ModelNumber" value="@Model.ModelNumber" />
            <input type="hidden" id="confirmed_SerialNumber" name="SerialNumber" value="@Model.SerialNumber" />
            <input type="hidden" id="confirmed_HostName" name="HostName" value="@Model.HostName" />
            <input type="hidden" id="confirmed_Location" name="Location" value="@Model.Location" />
            <input type="hidden" id="confirmed_UserName" name="UserName" value="@Model.UserName" />
            <input type="hidden" id="confirmed_SelectedStatus" name="SelectedStatus" value="@Model.SelectedStatus" />
            <input type="hidden" id="confirmed_PurchaseDateFrom" name="PurchaseDateFrom" value="@Model.PurchaseDateFrom" />
            <input type="hidden" id="confirmed_PurchaseDateTo" name="PurchaseDateTo" value="@Model.PurchaseDateTo" />
            <input type="hidden" id="confirmed_CreatedDateFrom" name="CreatedDateFrom" value="@Model.CreatedDateFrom" />
            <input type="hidden" id="confirmed_CreatedDateTo" name="CreatedDateTo" value="@Model.CreatedDateTo" />
            <input type="hidden" id="confirmed_UpdatedDateFrom" name="UpdatedDateFrom" value="@Model.UpdatedDateFrom" />
            <input type="hidden" id="confirmed_UpdatedDateTo" name="UpdatedDateTo" value="@Model.UpdatedDateTo" />

        </form>

    </div>
</div>


@* 並び替え選択 *@
<form id="sortForm" data-ajax-url="@Url.Action("GetSortedList","Device")">
    <div class="sort-area-wrapper">

        @* ソート基準 *@
        <div class="sort-box">
            <label asp-for="SortKeyList" class="sort-label"></label>
            <span class="sort-separator">：</span>
            @Html.DropDownListFor(model => model.SortKeyValue, Model.SortKeyList,
            new { @class = "form-control custom-dropdown", id = "SortKeyValue" })
        </div>

        @* 昇順 or 降順 *@
        <div class="sort-box">
            <label asp-for="SortOrderList" class="sort-label"></label>
            <span class="sort-separator">：</span>
            @Html.DropDownListFor(model => model.SortOrderValue, Model.SortOrderList,
                        new { @class = "form-control custom-dropdown", id = "SortOrderValue" })
        </div>
    </div>
</form>

@* テーブル表示 *@
<div id="tableArea">
    @await Html.PartialAsync("_DeviceListPartial", Model)
</div>


@* JS *@
@section Scripts {
    <script src="~/js/common/list-common.js"></script>
    <script src="~/js/common/formclear.js"></script>
    <script src="~/js/common/dropdown-toggle.js"></script>
}

@* CSS *@
@section Styles {
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
}