@model ITAssetKeeper.Models.ViewModels.Device.DeviceListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>機器情報 一覧</h1>

@* メッセージ表示 *@
@if (TempData["ToastMessage"] != null)
{
    <div id="toast-message"
         data-message="@TempData["ToastMessage"]"
         data-type="success"></div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning mt-3">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["FailureMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["FailureMessage"]
    </div>
}

@* 検索フォーム 折り畳みボタン *@
<button id="toggleSearchBtn"
        class="btn detail-search-btn mb-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#searchCollapse"
        data-is-search="@Model.HasAnyFilter.ToString().ToLower()">

    <img src="~/img/search_details.png" class="detail-search-icon" />
    詳細検索
</button>

@* 検索フォーム *@
<div class="collapse @(Model.HasAnyFilter ? "show" : "")" id="searchCollapse">
    <div class="card card-body mb-3">

        <div class="row">
            <div class="col-md-4">
                <form id="searchForm" asp-controller="Device" asp-action="Index" method="get">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                    @* 機器管理ID(ManagementId) *@
                    <div class="form-group">
                        <label asp-for="ManagementId" class="control-label"></label>
                        <input asp-for="ManagementId" class="form-control" />
                    </div>

                    @* 種別(Category) *@
                    <div class="form-group">
                        <label asp-for="CategoryItems" class="control-label"></label>
                        @Html.DropDownListFor(model => model.SelectedCategory, Model.CategoryItems, "全て", new { @class = "form-control" })
                    </div>

                    @* 用途(Purpose) *@
                    <div class="form-group">
                        <label asp-for="PurposeItems" class="control-label"></label>
                        @Html.DropDownListFor(model => model.SelectedPurpose, Model.PurposeItems, "全て", new { @class = "form-control" })
                    </div>

                    @* 型番(ModelNumber) *@
                    <div class="form-group">
                        <label asp-for="ModelNumber" class="control-label"></label>
                        <input asp-for="ModelNumber" class="form-control" />
                    </div>

                    @* 製造番号(SerialNumber) *@
                    <div class="form-group">
                        <label asp-for="SerialNumber" class="control-label"></label>
                        <input asp-for="SerialNumber" class="form-control" />
                    </div>

                    @* ホスト名(HostName) *@
                    <div class="form-group">
                        <label asp-for="HostName" class="control-label"></label>
                        <input asp-for="HostName" class="form-control" />
                    </div>

                    @* 設置場所(Location) *@
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                    </div>

                    @* 使用者(UserName) *@
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                    </div>

                    @* 状態(Status) *@
                    <div class="form-group">
                        <label asp-for="StatusItems" class="control-label"></label>
                        @Html.DropDownListFor(model => model.SelectedStatus, Model.StatusItems, "全て", new { @class = "form-control" })
                    </div>

                    @* 購入日:開始(PurchaseDateFrom) *@
                    <div class="form-group">
                        <label asp-for="PurchaseDateFrom" class="control-label"></label>
                        <input asp-for="PurchaseDateFrom" class="form-control" type="date" />
                    </div>

                    @* 購入日:終了(PurchaseDateTo) *@
                    <div class="form-group">
                        <label asp-for="PurchaseDateTo" class="control-label"></label>
                        <input asp-for="PurchaseDateTo" class="form-control" type="date" />
                    </div>

                    @* 登録日:開始(CreatedDateFrom) *@
                    <div class="form-group">
                        <label asp-for="CreatedDateFrom" class="control-label"></label>
                        <input asp-for="CreatedDateFrom" class="form-control" type="date" />
                    </div>

                    @* 登録日:終了(CreatedDateTo) *@
                    <div class="form-group">
                        <label asp-for="CreatedDateTo" class="control-label"></label>
                        <input asp-for="CreatedDateTo" class="form-control" type="date" />
                    </div>

                    @* 更新日:開始(UpdatedDateFrom) *@
                    <div class="form-group">
                        <label asp-for="UpdatedDateFrom" class="control-label"></label>
                        <input asp-for="UpdatedDateFrom" class="form-control" type="date" />
                    </div>

                    @* 更新日:終了(UpdatedDateTo) *@
                    <div class="form-group">
                        <label asp-for="UpdatedDateTo" class="control-label"></label>
                        <input asp-for="UpdatedDateTo" class="form-control" type="date" />
                    </div>

                    @* ソートの選択項目(Hidden で送る) *@
                    <input type="hidden" id="SortKeyValueHidden" name="SortKeyValue" value="@Model.SortKeyValue" />
                    <input type="hidden" id="SortOrderValueHidden" name="SortOrderValue" value="@Model.SortOrderValue" />

                    @* フォーム内容送信 *@
                    <div class="form-group">
                        <input type="submit" value="検索" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@* 並び替え選択 *@
<form id="sortForm" data-ajax-url="@Url.Action("GetSortedList","Device")">
    <div id="sortArea">

        @* ソート基準 *@
        <div class="form-group">
            <label asp-for="SortKeyList" class="control-label"></label>
            @Html.DropDownListFor(model => model.SortKeyValue, Model.SortKeyList,
                new { @class = "form-control", id = "SortKeyValue" })
        </div>

        @* 昇順 or 降順 *@
        <div class="form-group">
            <label asp-for="SortOrderList" class="control-label"></label>
            @Html.DropDownListFor(model => model.SortOrderValue, Model.SortOrderList,
                new { @class = "form-control", id = "SortOrderValue" })
        </div>
    </div>
</form>

@* テーブル表示 *@
<div id="tableArea">
    @await Html.PartialAsync("_DeviceListPartial", Model)
</div>


@* jsファイルを読み込む *@
@section Scripts {
    <script src="~/js/index.js"></script>
}